:root {
    --red: #E10E0E;
    --black: #19191A;
    --white: #fff;
    --gray: #959595;
    --dark-gray: #7A7A7A33;
    --light-blue: #D9EDFF;
    --light-gray: #CAE6FF80;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/* login css */
.login-left-img {
    position: relative;
}

.login-left-img a img {
    position: absolute;
    top: 3%;
    left: 15%;
    content: "";
}

.login-left-img img.left-login-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.login-right-form {
    /* background: var(--white); */
    /* width: 55%; */
    /* margin: 0px auto; */
    /* box-shadow: 0px 8px 32px 0px #C8E6FF99; */
    /* padding: 50px; */
    text-align: center;
    /* border-radius: 20px; */
    position: relative;
}

/* .login-right-form h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 51px;
    color: var(--black);
} */
.showImg {
    top: 25px;
    color: var(--red) !important;
    position: absolute;
    right: 25px;
    cursor: pointer;
}


/* .login-right-form p {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
    line-height: 21px;
    width: 60%;
    margin: 0px auto;
    padding-bottom: 20px;
} */

.login-right-form form {
    position: relative;
}

/* .login-right-form input[type="email"],
.login-right-form input[type="password"],
.login-right-form input[type="text"] {
    width: 100%;
    border: 1px solid var(--light-blue);
    border-radius: 20px;
    padding: 20px 48px;
    font-size: 14px;
} */

/* .login-right-form img.message-icon {
    position: absolute;
    left: 3%;
    top: 51%;
    z-index: 1;
} */

.login-right-form img.lock-icon {
    position: absolute;
    left: 4%;
    top: 43%;
}

.lock-icon-password {
    position: absolute;
    left: 17px;
    top: 17px;
}

.eye-password1 {
    position: absolute;
    right: 10px;
    bottom: 16px;
}

.eye-password {
    position: absolute;
    right: 10px;
    top: -9px;
}

/* .login-right-form label {
    position: absolute;
    left: 3%;
    background: var(--white);
    z-index: 1;
    width: 15%;
    font-size: 12px;
    color: var(--gray);
} */

/* label:nth-child(1) {
    top: 20%;
} */

/* .login-right-form label.Password {
    top: -11%;
    width: 27%;
} */

/* .login-right-form input[type="submit"],
.login-right-form input[type="button"] {
    width: 100%;
    border-radius: 20px;
    background: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
    padding: 19px 20px;
} */

.login-right-form input[type="button"]:hover {
    background: transparent;
    color: var(--red);
}

/* .login-right-form a.forgotPassword {
    font-size: 12px;
    text-align: right;
    display: block;
    padding-top: 10px;
    line-height: 28px;
    text-decoration: none;
    color: var(--gray);
} */

.login-right-form a.back-to-button i {
    color: var(--red);
    width: 7%;
    background: var(--light-gray);
    display: block;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
}

/* enter otp page */
.enterOtp-box {
    width: 13% !important;
    margin: 0px 7px;
    margin-bottom: 40px;
}

.validations {
    /* margin-bottom: 16px; */
    display: block;
    text-align: left;
    margin-top: 5px;
}

.login-right-form input[type="number"] {
    width: 100%;
    border: 1px solid var(--dark-gray);
    border-radius: 18px;
    height: 67px;
    margin: 10px;
    max-width: 67px;
}

.login-right-form a.text-center {
    color: var(--gray);
}

.login-right-form a.text-center span {
    color: var(--red);
}

/* password */
.new-password {
    top: -13% !important;
    width: 20% !important;
}

.message-icon-password {
    position: absolute;
    left: 18px;
    top: 17px;
}
.delete-link {
    color: #000 !important;
}

/* media query */
@media screen and (max-width: 1400px) {
    .main_filter_select .select {
        padding: 10px 15px !important;
    }

    .login-right-form input[type="number"] {
        border-radius: 11px;
        height: 53px;
        max-width: 50px;
        margin: 5px;
    }

    /* .login-right-form {
        width: 84%;
    } */

    .login-right-form a.back-to-button i {
        width: 15%;
    }

    .login-right-form p {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .new-password {
        width: 31% !important;
    }

    .login-right-form label.Password {
        width: 36%;
    }
}

@media screen and (max-width: 768px) {
    .login-left-img img.left-login-img {
        height: 350px;
    }

    /* .login-right-form {
        margin: 20px auto;
        padding: 20px;
    } */

    /* .login-right-form h2 {
        font-size: 30px;
    } */

}

@media screen and (max-width: 575px) {
    .user_profile_area.d-flex.align-items-center.justify-content-between {
        display: block !important;
    }
    .new-password {
        top: -5% !important;
    }

}

@media screen and (max-width: 449px) {
    .login-right-form input[type="number"] {
        border-radius: 8px;
        height: 40px;
        max-width: 38px;
        margin: 0px;
    }
}

@media screen and (max-width: 399px) {
    .new-password {
        top: -13% !important;
        width: 53% !important;
    }

    .login-right-form label.Password {
        top: -11%;
        width: 60%;
    }
}

/* ===========vibhu css start============ */
.left_login_section{

}
.loginBg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
}
.fixed_container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.item_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.full_height{
    height: 100vh;
}
.login_logo{
    width: 100%;
    max-width: 420px;
}
.owerflow_hidden{
    overflow-x: hidden;
}
.login_heading{
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}
.para_text{
    color: #828282; 
}
.font_16{
    font-size: 16px;
    font-weight: 400;
}
.login_input{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 16px;
    padding: 20px 48px;
    font-size: 14px;
    font-weight: 400;
}
.login_input :focus-visible{
  outline: none !important;
}

.login_input input:-internal-autofill-selected {
    background-color: transparent !important;
}
.login_label{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    background-color: #fff;
    padding: 6px;
    position: absolute;
    top: -24%;
    left: 14px;
    text-transform: uppercase;
}
.input_icon{
    position: absolute;
    left: 18px;
    top: 36%;
}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
}
.login_btn{
    background: var(--red);
    border-radius: 16px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
}
.forgotPassword{
    color: var(--red) !important; 
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  
}
.otp_input{
    border: 1px solid var(--red);
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    width: 67px;
    height: 67px;
    text-align: center;

}
.otp_span_text{
    color:  var(--red) !important;
    font-weight: 500 !important;
}

.login_form_card{
    padding: 40px;
    width: 100%;
    max-width: 600px;
    margin: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(1, 155, 214, 0.4);
    border-radius: 20px;
}

/* ------------responsive css start------------ */
@media (max-width: 1200px) {
    .login_logo{
        max-width: 320px;
    }
}
@media (max-width: 992px) {
    .login_form_card{
        padding: 20px;
        margin: 10px;
    }
    .login_logo{
        max-width: 260px;
    }
}
@media (max-width: 768px) {
    .login_form_card{
        padding: 20px 10px;
        margin: 10px;
    }
    .login_logo{
        max-width: 280px;
        padding: 20px;
    }
    .mobile_bg{
        background-image: url(../images/login-logo-bg.svg);
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .mobile_form_bg{
        background-image: url(../images/form-bg.png);
        width: 100%;
        background-position: center;
        background-size: cover;
        padding: 50px 20px;
    }
    .login_heading{
        font-size: 26px !important;
    }
    .login-right-form{
        padding: 10px;
    }
   
}
/* ------------responsive css end------------ */

/* ===========vibhu css end============ */